.advantages__title__main {
	margin-bottom: 26px;
}

.advantages__title {
	.text-center;
	background: @bg-color-white;
}

.advantages__list {
	.rel;
	padding-top: 70px;
	padding-bottom: 281px;
	background: @bg-color-grey;
}

.advantages__title--question {
	margin-top: 67px;
	margin-bottom: 31px;
}

.advantages__item {
	margin-bottom: 37px;
}

.advantages__item:last-child {
	margin-bottom: 20px;
}

.advantages__item-title,
.advantages__item-descr {
	.text-center();
}

.advantages__image {
	.abs;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 157px;
	height: 278px;
	background: url("../img/iphone-screen-mobile@1x.png") no-repeat 50% 0;
}