.app-download__block {
	height: 270px;
	background-color: @bg-color-red;
	opacity: 0.5;
	margin-top: 396px;
} 

.app-download .container {
	width: 280px;
}

@media @tablet-widths {
	.app-download__block {
	  height: 518px;
	  margin-left: 20px;
	  margin-top: 102px;
	}
	.app-download .container {
	  width: 260px;
	}
}

@media @desktop-widths {
	.app-download__block {
	  height: 624px;
	  margin-left: 130px;
	  margin-top: 120px;
	}

	.app-download .container {
	  width: 240px;
	  padding: 0 30px;
	}
}

.app-download__btn {
	.inline-block;
	padding: 12px 35px;
	margin-top: 28px;
	border: 3px solid white;
	border-radius: 30px;
	text-decoration: none;
	color: #ffffff;
}

.app-download__brands {
	margin-left: 10px;
}

.app-download__brands-item {
	.inline-block;
    .rel;
    width: 47px;
    height: 56px;
    margin-right: 20px;
    margin-top: 33px;
    margin-bottom: 4px;
    background: #81b3d2;
}

.app-download__text {
	.text-center;
	color: #ffffff;
}