.main-nav__wrapper {
	display: none;
}

.main-nav {
	.abs;
	right: 0px;
	padding: 13px 18px;
	padding-top: 22px;
}

 .main-nav__toggler {
	.inline-block;
	width: 52px;
	height: 30px;
	border: none;
	background: url("../img/icon-menu-burger.svg") no-repeat 0 0;
}

