p[class="photos__title-text"] {
	.text-center;
	padding-bottom: 47px;
	line-height: 30px;
}

.photos__item-picture {
	.rel;
	top: 0;
	left: 0;
	margin: auto;
	width: 280px;
	height: 180px;
	background: @bg-color-blue;
}

.photos__item-picture--width {
	width: 320px;
	height: 139px;
}

.photos__item-block {
	background: @bg-color-grey;
	margin: 0 20px;
	padding: 17px;
	margin-bottom: 20px;
}

.photos__item-likes {
	.inline-block;
	padding-top: 10px;
}

.photos__item-likes .photos__item-bth,
.photos__item-likes .photos__item-number {
	float: left;
}

.photos__item-number p {
	margin-left: 16px;
	font-size: 12px;
	text-transform: uppercase;
	color: @bg-color-red;
}
