.reviews__auhor‐name,
.reviews__authot-text {
	.text-center;
}

.reviews__auhor‐name {
	padding-top: 29px;
	margin-bottom: 16px;
}

.reviews__authot-text {
	.inline-block;
	line-height: 30px;
	padding-bottom: 71px;
}
